.logo {
    background-color: gray;
    position: absolute;
    right: -2em;
}

.logo_iec {
    width: 9.5em;
}

.list_descripcion_empresa {
    font-size: smaller;
}

.subrayado {
    text-decoration: underline;
}

.parrafo_descripcion {
    font-size: smaller;
}

.organigrama {
    border: thin solid;
    padding: 16px;
}

.pregunta_investigacion {
    font-weight: 200;
}

.lista_requerimientos {
    list-style-type: none;
    padding: 0 !important;
    border: 1px solid #ddd;
    font-size: x-large;
}

.lista_requerimientos li {
    list-style-type: decimal;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.lista_requerimientos li:last-child {
    border-bottom: none
}

.fuente_articulos_ley {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.cita {
    text-align: center;
    font-size: smaller;
    width: 65% !important;
}

.titulo_cita {
    text-align: left;
}